<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: page(~{::main})}">
<main>
    <h1 class="page-title">Cập nhật đợt</h1>
    <div class="card p-4">
        <form th:action="@{'/faculty/periods/'+${period.id}+'/edit'}" th:object="${periodForm}" method="post" data-period-form>
            <div th:replace="~{faculty/period-fields :: fields}"></div>
            <button class="btn btn-primary mt-4">Lưu thay đổi</button>
        </form>
    </div>
    <script th:src="@{/js/period-form.js}" defer></script>
</main>
</html>
